<div *ngIf="deportista">
  <img src="{{deportista.imagen}}" width="40%" height="40%" />
  <h2>{{deportista.nombre | uppercase}}: {{participacion.fecha}} - {{participacion.hora}} </h2>
  <li *ngFor="let video of videos">
    <iframe id='player' type='text/html' width='400' height='200' [src]="cleanURL(video.url)"  frameborder='0'></iframe>
    <h4> Comentarios: </h4>
    <form [formGroup]="form" (ngSubmit)="createComentario()">
      <div>
        <label for="mensaje"> Deja un comentario: </label>
        <input id="mensaje" type="text" formControlName="mensaje">
      </div>
      <button class="button" type="submit">Comentar</button>
    </form>
      <ul>
        <li *ngFor="let comment of comentarios">
          <label><b>Autor:</b> {{comment.autor}} - <b>Posted on:</b> {{comment.fecha}} </label><br />
          <label>{{comment.texto}}</label><br />
        </li>
      </ul>
  </li>
</div>

<button (click)="goBack()">Go back</button>
