<div *ngIf="deportista">
  <img src="{{deportista.imagen}}" width="40%" height="40%" />
    <h2>{{deportista.nombre | uppercase}}</h2>
    <div>
      <label>Fecha de nacimiento: {{deportista.fecha_nacimiento}}</label><br />
      <label>Estatura: {{deportista.estatura}} cm</label><br />
      <label>Peso: {{deportista.peso}} kg</label><br />
      <label>Entrenador: {{deportista.entrenador}}</label><br />
    </div>
    <li *ngFor="let participa of participacion" routerLink = "{{deportista.id}}">
      <iframe id='player' type='text/html' width='400' height='200' [src]="cleanURL(participa.videoObj.url)"  frameborder='0'></iframe>
      <h3> Comentarios: </h3>
      <ul>
        <li *ngFor="let comment of participa.videoObj.comentarios">
          <label>Autor: {{comment.autor}} - Posted on: {{comment.fecha}} </label><br />
          <label>{{comment.texto}}</label><br />
        </li>
      </ul>
    </li>
</div>

<button (click)="goBack()">Go back</button>
